{% include "header.html" %}

<div class="row">
    <div class="col-6">
        <p>🇬🇧 <strong>{{uk}}</strong> UK </p>
        <hr>
    </div>
     <div class="col-6">
        <p>🇺🇸 <strong>{{central}}</strong> Central</p>
        <hr>
    </div>
    <div class="col-6">
        <p>🇨🇦 <strong>{{onguardforthee}}</strong> Oh Canada</p>
        <hr>
    </div>
    <div class="col-6">
        <p>{{option1list[2]}} <strong>{{option1list[0]}}</strong> {{option1list[1]}}</p>
        <hr>
    </div>
    <div class="col-6">
        <p>{{option2list[2]}} <strong>{{option2list[0]}}</strong> {{option2list[1]}}</p>
        <hr>
    </div>
    <div class="col-6">
        <p>+ <strong><a href="/boxboxbox">Change settings</a></strong></p>
        <hr>
    </div>

</div>


{% include "footer.html" %}