{% include "header.html" %}

<!-- <div class="row">
    <div class="col-6">
        <p>🇬🇧 {{proper}} UK Time</p>
        <hr>
        <p>🇺🇸 {{central}} Central Time</p>
        <hr>
        <p>🇺🇸 {{eastern}} Eastern Time</p>
        <hr>
        <p>🇨🇦 {{onguardforthee}} Tim Hortons Time </p>
        <hr>
        <p>🇳🇴 {{norge}} Hestkuk Time</p>
    </div>
    <div class="col-6">
        <p>🫖 Lunch 5, 🏃🏻 Home 9</p>
        <hr>
        <p>🍔 Lunch 12, 🏃🏻 Home 4</p>
        <hr>
        <p>🍔 Lunch 1, 🏃🏻 Home 5</p>
        <hr>
        <p>🍁 Lunch 5, 🏃🏻 Home 9</p>
        <hr>
        <p>🐴 Lunch 5, 🏃🏻 Home 9</p>
    </div>
</div> -->


<div class="row">
    <div class="col-6">
        <p>🇬🇧 {{proper}} UK Time</p>
        <hr>
    </div>
    <div class="col-6">
        <p>🫖 Lunch 5, 🏃🏻 Home 9</p>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <p>🇺🇸 {{central}} Central</p>
        <hr>
    </div>
    <div class="col-6">
        <p>Yeehaw Woody.</p>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <p>🇺🇸  {{eastern}} Eastern</p>
        <hr>
    </div>
    <div class="col-6">
        <p>It can be spooky here.</p>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <p>🇨🇦 {{onguardforthee}} Oh Canada</p>
        <hr>
    </div>
    <div class="col-6">
        <p>Tim Hortons sucks now.</p>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <p>🇳🇴 {{norge}} Hestkuk</p>
    </div>
    <div class="col-6">
        <p>Better than Sweden. Low bar.</p>
    </div>
</div>



{% include "footer.html" %}