{% include "header.html" %}

<!-- <div class="row">
    <div class="col-6">
        <p>🇬🇧 {{proper}} UK Time</p>
        <hr>
        <p>🇺🇸 {{central}} Central Time</p>
        <hr>
        <p>🇺🇸 {{eastern}} Eastern Time</p>
        <hr>
        <p>🇨🇦 {{onguardforthee}} Tim Hortons Time </p>
        <hr>
        <p>🇳🇴 {{norge}} Hestkuk Time</p>
    </div>
    <div class="col-6">
        <p>🫖 Lunch 5, 🏃🏻 Home 9</p>
        <hr>
        <p>🍔 Lunch 12, 🏃🏻 Home 4</p>
        <hr>
        <p>🍔 Lunch 1, 🏃🏻 Home 5</p>
        <hr>
        <p>🍁 Lunch 5, 🏃🏻 Home 9</p>
        <hr>
        <p>🐴 Lunch 5, 🏃🏻 Home 9</p>
    </div>
</div> -->


<div class="row">
    <div class="col-6">
        <p>🇬🇧 <strong>{{uk}}</strong> UK </p>
        <p>Lunch at 5pm, home at 9pm.</p>
        <hr>
    </div>
     <div class="col-6">
        <p>🇳🇴 <strong>{{norge}}</strong> Norge</p>
        <p>Words and stuff to be cool.</p>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <p>🇺🇸 <strong>{{central}}</strong> Central</p>
        <p>Texas time.</p>
        <hr>
    </div>
        <div class="col-6">
        <p>🇺🇸  <strong>{{eastern}}</strong> Eastern</p>
        <p>Mass time.</p>
        <hr>
    </div>
</div>

<div class="row">

</div>

<div class="row">
    <div class="col-6">
        <p>🇨🇦 <strong>{{onguardforthee}}</strong> Oh Canada</p>
        <p>Timmy time.</p>
        <hr>
    </div>
</div>



{% include "footer.html" %}